**/venv/**/*
**/node_modules/**/*
**/__pycache__
*.xml
*.iml
*.python-version
__pycache__/*
flask/utils/__pycache__/auth_token.cpython-310.pyc
flask/utils/__pycache__/db.cpython-310.pyc
flask/utils/__pycache__/globals.cpython-310.pyc
flask/utils/__pycache__/message.cpython-310.pyc
flask/utils/__pycache__/response.cpython-310.pyc
flask/utils/__pycache__/roll.cpython-310.pyc
flask/utils/__pycache__/secrets.cpython-310.pyc
flask/web_sockets/__pycache__/auth.cpython-310.pyc
flask/web_sockets/__pycache__/character.cpython-310.pyc
flask/web_sockets/__pycache__/rooms.cpython-310.pyc
flask/utils/__pycache__/auth_token.cpython-310.pyc
flask/utils/__pycache__/db.cpython-310.pyc
flask/utils/__pycache__/globals.cpython-310.pyc
flask/utils/__pycache__/message.cpython-310.pyc
flask/utils/__pycache__/response.cpython-310.pyc
flask/utils/__pycache__/roll.cpython-310.pyc
flask/utils/__pycache__/secrets.cpython-310.pyc
flask/web_sockets/__pycache__/auth.cpython-310.pyc
flask/web_sockets/__pycache__/character.cpython-310.pyc
flask/web_sockets/__pycache__/rooms.cpython-310.pyc
flask/__pycache__/app.cpython-310.pyc
flask/__pycache__/web_socket.cpython-310.pyc
